<div class="text-form">
<%=form_for(@article ,url:{controller:'articles',action:'update'}) do |form|%>
  <div class="title">
   <%= form.label "タイトル" %>
   <%=form.text_field :title %>
  </div>
  <div class="text">
   <%= form.label "本文" %>
   <%=form.text_field :text %>
  </div>
  <div class="btn waves-effect waves-light" >
   <%=form.submit "更新" %>
  </div>
<%end%>
</div>
