       <div class="article ">
          <div class="card deep-orange lighten-5">
            <div class="card-content ">
              <span class="card-title "><%=article.title %></span>
              <span class="card-date "><%=article.created_at %></span><br>
              <p><%=simple_format(article.text) %></p>
            </div>
            <div class="card-action">
              <%=link_to '表示',"/articles/#{article.id}", method: :get %>
              <% if user_signed_in? && current_user.id==article.user_id %>
              <%=link_to '編集',"/articles/#{article.id}/edit", method: :get %>
              <%=link_to '削除',"/articles/#{article.id}", method: :delete %>
              <%end%>
            </div>
          </div>
        </div>
